@import "compass/css3";

@import url(//fonts.googleapis.com/css?family=Lobster);
@import url(//fonts.googleapis.com/css?family=Medula+One);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(//fonts.googleapis.com/css?family=Pacifico);
@import url("../img/sprite/sprite.css");

$background:#F8F9F9;
$emerald:#19BD9B;
$sunflower:#f1c40f;
$col_navbar:#576573;
$col_text:#5D6E7E;
$col_design_title:#E84C3D;
$col_design_sub:#297FB8;
$col_section_title:#95A5A5;
 
html,body{
  overflow-x:hidden;
  color:$col_text;
  font-family: 'Open Sans', sans-serif;
}

body{
  padding-top:55px;
}
/***************************
BOOTSTRAP OVERRIDE
**************************/

.navbar-default {
  border-color:#3A3A3A;
  .navbar-toggle{
    border-color:#3A3A3A;
    -webkit-box-shadow: 0 1px 0 tint(#3a3a3a,50%);
    -moz-box-shadow: 0 1px 0 tint(#3a3a3a,50%);
    box-shadow:0 1px 0 tint(#3a3a3a,50%);
    i{
      color:#fff;
    }
    &:hover, &:focus{
      background-color:$emerald;
      border-color:tint($emerald,20%);
    }
  }
  .navbar-collapse{
    border-color:#3A3A3A;
  }
  .navbar-nav > li > a{
    color:#FFF;
    &:hover{
      color:$emerald;
    }    
  }
  .navbar-nav>li.active>a{
    background-color:$emerald;
    color:#FFF;
    @include border-radius(4px);
    &:hover{
      background-color:tint($emerald,20%);
      color:#FFF;
    }
  }
  
  .navbar-brand{
    color:#FFF;
    font-size: 29px;
    &:hover{
      color:$emerald;
    }
  }
}

.navbar{
  min-height:70px;
  padding-top:10px;
}

.jumbotron{
  background-color:$background;
  h1{
    font-weight: 300;
    color:$emerald;
  }
}
/*end of overrriding*/

.pattern-turq{
  background:url(../img/patLine_turq.png)repeat fixed;
  font-size: 200px;
  height:3.25em;
  margin-bottom:30px;
}

.navbar{
  box-shadow:0 5px 10px rgba(0,0,0,0.5);
  
  &.navbar-default{
    background:$col_navbar url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2PUtQv4f/nQBkZGBigAADUVBAMVXAcZAAAAAElFTkSuQmCC) repeat;
  }
}

.custom-brand{
  font-family: 'Lobster', sans-serif;
}



.img-main{
  margin-top:0.35em;
  font-size: inherit;
  /*background:url(../img/img_cam.jpg)no-repeat 50% -2em fixed;*/
  background: url(../img/bg_graphic-03.png) repeat fixed;
  /*background-size:10em;*/
  height:2.5em;
  text-align: center;
  &:before{
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-left:-0.25em;
  }
  .title{
    display:inline-block;
    vertical-align:middle;  
    font-size: inherit;
    text-shadow:0 5px 20px rgba(0,0,0,0.75);
    color:#FFF;
    h1{
      font-family: 'Lobster', sans-serif;
      font-size: inherit;
      margin:0;
    }
    h2{
      font-family: 'Pacifico', sans-serif;
      font-size: 0.3em;
      margin:0;
      color:tint($sunflower,50%);
    }
  }
}

.title-showcase{
  display:inline-block;
  vertical-align:middle;
  font-family: 'Lobster', sans-serif;
  font-size: inherit;
  text-shadow:0 5px 20px rgba(0,0,0,0.75);
  color:#FFF;
  position:relative;
  z-index:1;
  text-align: center;
  font-size: inherit;
  h1{
    font-size: 1em;
    margin-bottom: -0.15em;
  }
  h2{
    font-family: 'Medula One', sans-serif;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-top:0;
  }
}

@media only screen and (max-width : 767px) {
  body{
    padding-top:70px;
  }
  .pattern-turq{
    font-size:100px;
    .img-main{
      /*-webkit-background-size: 767px;*/
      /*background-size: 767px;*/
    }
  }
  
  .img-main{
    background-position:50% -0.5em
  }
  
  .work-banner{
    -webkit-background-size: 1200px!important;
    background-size: 1200px!important;
  }

  .work{
    font-size: 100px!important;
  }
  
  .section-title{
    font-size: 25px;
  }

  .carousel-control{
    >span{
      top:30%!important;
    }
  }
}

.maxWidth{
  max-width:1280px;
  margin:0 auto;
}

.section-title{
  margin-top:90px;
  text-align:center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  color:$col_section_title;
}

.row-section--contact, .row-section--work{
  position:relative;
  z-index:1;
  margin-bottom:-100px;
  .section-title{
    color:#fff;
  }
  
}

.team-trivia{
  text-align: center;
  >h4{
    color:#fff;
    background:$col_design_sub;
    line-height: 2em;
    font-weight: 700;
    @include border-radius(1em);
  }
}

.team{
  position:relative;
  blockquote{
    border-color:$col_design_sub;
    font-style: italic;
    background-color: tint($col_design_sub,90%);
    @include border-radius(0 8px 8px 0);
  }
  .team-bg{
    content:"";
    position:relative;
    display:block;
    width:200%;
    height:280px;
    left:-50%;
    background:url(../img/patTri_cyan.png)repeat fixed;
    margin-bottom:-200px;
    margin-top:80px;
  }
  .team-bg-xs{
    height:280px;
    width:280px;
    @include border-radius(50%);
    background:url(../img/patTri_cyan.png)repeat fixed;
    margin:0 auto;
    margin-bottom:-225px;
  }
  .team-trivia{
    >h4{
      color:#fff;
      background:$col_design_sub;
      line-height: 2em;
      font-weight: 700;
      @include border-radius(5px);
    }
  }

  h2,h3,h4,p{
    text-align:center;
  }
  
  hr{
    margin-top:0;
    margin-bottom:-10px;
  }
  
  h2{
    color:$col_design_title;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h3{
    color:$col_design_sub;
    font-weight: 300;
  }
}

.role{
  h3,p{
    text-align:center;
  }
  h3{
    color:$col_design_sub;
    font-weight: 300;
  }
  
  img{
    margin-top:30px;
    margin-bottom:0;
  }
  hr{
    margin:0;
  }
  .expertise{
    margin-top:-30px;
    margin-bottom:-10px;
  }
}

.work{
  font-size: 200px;
  position:relative;
  padding-top:0.65em;
  padding-bottom:0.3em;
  margin-bottom:0.15em;
  &:before{
    top:0;
    content:"";
    display:block;
    position:absolute;
    font-size: inherit;
    height:100%;
    background:url(../img/patLine_red.png) repeat fixed;
    width:200%;
    left:-50%;
    margin-bottom:-2.275em;
  }
  .work-banner{
    position:relative;
    font-size:inherit;
    height:2em;
    width:166.66%;
    left:-33.33%;
    text-align: center;
    background:url(../img/bg_keyboard.png) no-repeat 50% 50% fixed;
    background-size:10em;
    &:before{
      content:"";
      display:block;
      position:absolute;
      left:0;top:0;
      height:100%;
      width:100%;
      z-index:0;
      background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2PUtQv4f/nQBkZGBigAADUVBAMVXAcZAAAAAElFTkSuQmCC)repeat;
    }
    &:after{
      content:"";
      display:inline-block;
      height:100%;
      vertical-align: middle;
      margin-left:-0.25em;
    }
  }
}

.work-desc{
  text-align: center;
  p{
    text-align: center;
    font-size: 21px;
    font-weight: 300;
  }
}

.close-btn{
  margin-left:15px;
  margin-bottom:15px;
}

.portfolio-thumb{
  img{
    margin-bottom:15px;
  }
}

.portfolio{
  h3{
    color:$col_design_sub;
    font-weight: 300;
  }
}

.contact{
  position:relative;
  &:before{
    content:"";
    display:block;
    position:absolute;
    top:0; left:-50%;
    background:url(../img/patLine_blue.png) repeat fixed;
    height:100%;
    width:200%;
  }
  
  padding-bottom:30px;
  padding-top:130px;
  h3{
    color:$col_design_title;
    font-weight: 300;
  }
  
  p{
    color:#fff;
  }

  ul{
    color:#FFF;
    line-height: 2em;
    
    i{
      color:$emerald;
    }
  }
}

#map-canvas{
  height: 300px;
  position:relative;
  &:after{
    content:"";
    display:block;
    position:absolute;
    bottom:0;
    height:4px;
    width:100%;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAJklEQVQIW2NkgALJvbP/P3dOZYTxwQyQIEwAJsmILIgsiVUCpAAANNsOdRoJ+iQAAAAASUVORK5CYII=) repeat-x;
  }
}

.carousel-caption{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2NkYGB4BsRSjEACBJ4BAA6rAelt2gp7AAAAAElFTkSuQmCC) repeat;
  width:100%;
  left:0;
  right:0;
  bottom:0;
  padding-bottom:50px;
  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0 3em;
  }
}

.carousel-control{
  >span{
    background-color:$emerald;
    line-height:2em;
    padding:0 0.5em;
    @include border-radius(50%);
    text-align: center;
  }
}

.footer{
  /*background:url(../img/patLine_turq.png)repeat fixed;*/
  background-color:$emerald;
  background:$emerald url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2MUWjHv/7uIJEYGKAAzkAXhMjBBuABMJQAHmw5cXWy6GwAAAABJRU5ErkJggg==) repeat;
  padding:20px 0;
  p{
    text-align: center;
    color:#fff;
    @include text-shadow(0 -1px 0px rgba(0,0,0,0.6));
  }
}
